@charset "UTF-8";

/**
* Подключение шрифтов локально из папки "./src/fonts"
*/

/** Подключение переменных */

/**
* Подключение sass functions
*/

/** Обнуление */

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  scroll-behavior: smooth;
}

html.lock {
  overflow: hidden;
  touch-action: none;
}

body {
  overscroll-behavior: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #000;
  background-color: #fff;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body.overflow-hidden {
  overflow: hidden;
}

input,
button,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: transparent;
  transition: all 0.3s;
}

input::-ms-clear {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: #000;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: all 0.3s;
}

a:focus,
a:active {
  outline: none;
}

a:visited {
  -webkit-text-decoration: none;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

svg,
img {
  flex-shrink: 0;
  display: block;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

sup {
  color: inherit;
}

/**
* Библиотеки
*/

.choices {
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  font-size: 16px;
}

.choices:focus {
  outline: 0;
}

.choices:last-child {
  margin-bottom: 0;
}

.choices.is-open {
  overflow: visible;
}

.choices.is-disabled .choices__inner,
.choices.is-disabled .choices__input {
  background-color: #eaeaea;
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.choices.is-disabled .choices__item {
  cursor: not-allowed;
}

.choices [hidden] {
  display: none !important;
}

.choices[data-type*=select-one] {
  cursor: pointer;
}

.choices[data-type*=select-one] .choices__input {
  display: block;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  margin: 0;
}

.choices[data-type*=select-one] .choices__button {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
  padding: 0;
  background-size: 8px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
  margin-right: 25px;
  height: 20px;
  width: 20px;
  border-radius: 10em;
  opacity: 0.25;
}

.choices[data-type*=select-one] .choices__button:focus,
.choices[data-type*=select-one] .choices__button:hover {
  opacity: 1;
}

.choices[data-type*=select-one] .choices__button:focus {
  box-shadow: 0 0 0 2px #00bcd4;
}

.choices[data-type*=select-one] .choices__item[data-value=""] .choices__button {
  display: none;
}

.choices[data-type*=select-one]::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  background: url("../images/icons/icons.svg#chevron-down-grey") no-repeat;
}

.choices[data-type*=select-one].is-open::after {
  background: url("../images/icons/icons.svg#chevron-down") no-repeat;
  transform: translateY(-50%) rotate(180deg);
}

.choices[data-type*=select-one][dir=rtl]::after {
  left: 11.5px;
  right: auto;
}

.choices[data-type*=select-one][dir=rtl] .choices__button {
  right: auto;
  left: 0;
  margin-left: 25px;
  margin-right: 0;
}

.choices[data-type*=select-multiple] .choices__inner,
.choices[data-type*=text] .choices__inner {
  cursor: text;
}

.choices[data-type*=select-multiple] .choices__button,
.choices[data-type*=text] .choices__button {
  position: relative;
  display: inline-block;
  margin: 0 -4px 0 8px;
  padding-left: 16px;
  border-left: 1px solid #008fa1;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
  background-size: 8px;
  width: 8px;
  line-height: 1;
  opacity: 0.75;
  border-radius: 0;
}

.choices[data-type*=select-multiple] .choices__button:focus,
.choices[data-type*=select-multiple] .choices__button:hover,
.choices[data-type*=text] .choices__button:focus,
.choices[data-type*=text] .choices__button:hover {
  opacity: 1;
}

.choices__inner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #EFF2F8;
  border-radius: 10px;
  font-size: 16px;
  min-height: 45px;
  overflow: hidden;
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border-color: #b7b7b7;
}

.choices__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.choices__list .choices__list {
  padding-top: 8px;
  padding-bottom: 8px;
}

.choices__list--single {
  display: inline-block;
  padding: 13px 40px 13px 16px;
  width: 100%;
}

[dir=rtl] .choices__list--single {
  padding-right: 4px;
  padding-left: 16px;
}

.choices__list--single .choices__item {
  width: 100%;
}

.choices__list--multiple {
  display: inline;
}

.choices__list--multiple .choices__item {
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 3.75px;
  margin-bottom: 3.75px;
  background-color: #00bcd4;
  border: 1px solid #00a5bb;
  color: #fff;
  word-break: break-all;
  box-sizing: border-box;
}

.choices__list--multiple .choices__item[data-deletable] {
  padding-right: 5px;
}

[dir=rtl] .choices__list--multiple .choices__item {
  margin-right: 0;
  margin-left: 3.75px;
}

.choices__list--multiple .choices__item.is-highlighted {
  background-color: #00a5bb;
  border: 1px solid #008fa1;
}

.is-disabled .choices__list--multiple .choices__item {
  background-color: #aaa;
  border: 1px solid #919191;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  visibility: hidden;
  z-index: 5;
  position: absolute;
  width: 100%;
  background-color: #fff;
  top: 100%;
  margin-top: -1px;
  border-radius: 10px;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.is-active.choices__list--dropdown,
.is-active.choices__list[aria-expanded] {
  visibility: visible;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  border-color: #b7b7b7;
}

.is-flipped .choices__list--dropdown,
.is-flipped .choices__list[aria-expanded] {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: -1px;
  border-radius: 0.25rem 0.25rem 0 0;
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
  position: relative;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  position: relative;
  padding: 8px 16px;
  line-height: 19px;
}

[dir=rtl] .choices__list--dropdown .choices__item,
[dir=rtl] .choices__list[aria-expanded] .choices__item {
  text-align: right;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  color: #8950FC;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after {
  opacity: 0.5;
}

.choices__item {
  cursor: default;
}

.choices__item--selectable {
  cursor: pointer;
}

.choices__item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  opacity: 0.5;
}

.choices__heading {
  font-weight: 600;
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid #f7f7f7;
  color: gray;
}

.choices__button {
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.choices__button:focus,
.choices__input:focus {
  outline: 0;
}

.choices__input {
  display: inline-block;
  vertical-align: baseline;
  background-color: #f9f9f9;
  font-size: 14px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 0;
  max-width: 100%;
  padding: 4px 0 4px 2px;
}

.choices__input::-webkit-search-cancel-button,
.choices__input::-webkit-search-decoration,
.choices__input::-webkit-search-results-button,
.choices__input::-webkit-search-results-decoration {
  display: none;
}

.choices__input::-ms-clear,
.choices__input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

[dir=rtl] .choices__input {
  padding-right: 2px;
  padding-left: 0;
}

.choices__placeholder {
  color: #727693;
}

.choices.is-open .choices__placeholder {
  color: #201F2B;
}

.select2-container {
  width: 574px !important;
}

.select2-container {
  max-width: 100%;
  box-sizing: border-box;
  display: block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 45px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding: 0 2.5rem 0 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

.select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-search--inline {
  float: left;
}

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-dropdown {
  border-radius: 10px !important;
}

.select2-dropdown {
  background-color: white;
  box-sizing: border-box;
  display: block;
  position: absolute;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 8px 16px;
  line-height: 19px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
  padding: 8px 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px 1rem;
}

.select2-search--dropdown .select2-search__field {
  padding: 6px 8px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.select2-container--default .select2-selection--single {
  border-radius: 10px !important;
  border: none !important;
}

.select2-container--default .select2-selection--single {
  background-color: #EFF2F8;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #727693;
  line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  width: 24px;
  height: 24px;
  background: url(../images/icons/icons.svg#chevron-down-grey) no-repeat;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.select2-container--default[dir=rtl] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--default[dir=rtl] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
  padding: 1px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice,
.select2-container--default[dir=rtl] .select2-selection--multiple .select2-search--inline {
  float: right;
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: transparent;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: transparent;
  color: #8950FC;
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFFFF", endColorstr="#FFEEEEEE", GradientType=0);
}

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFEEEEEE", endColorstr="#FFCCCCCC", GradientType=0);
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--classic[dir=rtl] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--classic[dir=rtl] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFFFF", endColorstr="#FFEEEEEE", GradientType=0);
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFEEEEEE", endColorstr="#FFFFFFFF", GradientType=0);
}

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
}

.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
}

.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice {
  float: right;
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none;
}

.select2-container--classic .select2-dropdown {
  background-color: #fff;
  border: 1px solid transparent;
}

.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}

.select2-container--classic .select2-dropdown--below {
  border-top: none;
}

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--classic .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey;
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: #fff;
}

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}

/**
* Общие параметры, шаблоны(заготовки) и вспомогательные классы
*/

/** Базовые анимации: */

@keyframes show-header {
  0% {
    top: -100%;
  }

  100% {
    top: 0;
  }
}

@keyframes fade-up-big {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(359deg);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.page {
  position: relative;
  flex: 1 1 auto;
}

.container {
  width: 540px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

/* ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ */

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: #8950FC;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  white-space: nowrap;
}

.btn svg {
  margin-right: 0.5rem;
}

.btn-secondary {
  color: #201F2B;
  background-color: #E1D3FE;
}

/**
* Заголовки и прочие классы касательно текста
*/

/* ТИПОГРАФИЯ */

.text-small {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #727693;
}

/**
* Подключение стилей повторяющихся блоков
*/

.flatpickr-calendar.rangeMode {
  width: 574px;
}

.flatpickr-calendar.rangeMode .flatpickr-days {
  width: 100%;
}

.flatpickr-calendar.rangeMode .dayContainer {
  width: 100%;
  max-width: 100%;
  min-width: auto;
}

.flatpickr-calendar.rangeMode .flatpickr-day {
  max-width: none;
}

.date-range input {
  pointer-events: none;
}

.block {
  background-color: #fff;
  border-radius: 10px;
}

.p-relative {
  position: relative;
}

.chart-demo {
  margin-top: 1rem;
}

.chart-demo img,
.calendar-demo img {
  width: 100%;
  height: auto;
}

.icon-text {
  display: flex;
  align-items: center;
  line-height: 26px;
}

.icon-text .text-small {
  line-height: 23px;
  font-weight: 500;
}

.icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  margin-right: 1rem;
  border-radius: 10px;
  color: #727693;
  background-color: #EFF2F8;
}

.icon-block.active {
  color: #8950fc;
  background-color: #e1d3fe;
}

.text-border {
  display: inline-block;
  padding: 7px 15px;
  line-height: 26px;
  white-space: nowrap;
  border: 1px solid #201f2b;
  border-radius: 10px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 2rem -3px 37px;
  padding-right: 2rem;
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin: 0 3px 6px;
  font-size: 14px;
  line-height: 26px;
  color: #727693;
  border-radius: 6px;
}

.pagination__item.active {
  background-color: #E1D3FE;
}

.form__label {
  flex-shrink: 0;
  width: 240px;
  padding-right: 24px;
}

.form__label:empty {
  margin-bottom: 0;
}

.form__group {
  display: flex;
  align-items: center;
  position: relative;
}

.form__group:has(.percent) .p-relative {
  padding-bottom: 27px;
}

.form__group:not(:last-child) {
  margin-bottom: 1.5rem;
}

.form__group-query {
  align-items: flex-start;
}

.form__group-query .form__label {
  margin-top: 1rem;
}

.form__group:has(.percent) .form__label {
  margin-bottom: 21px;
}

.form__group-checkbox {
  margin-top: 48px;
}

.form__group-checkbox .form__label {
  width: auto;
  margin-right: 74px;
  padding-right: 0;
}

.form__group-select-multiply input[type=search] {
  display: none;
}

.form__group-select-multiply .choices {
  width: 508px;
  margin-left: 66px;
}

.form__group-select-multiply .choices__inner {
  min-height: 50px;
  position: relative;
  padding: 9.5px 66px 9.5px 16px;
}

.form__group-select-multiply .choices__inner:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  width: 24px;
  height: 24px;
  background: url(../images/icons/icons.svg#chevron-down-grey) no-repeat;
}

.form__group-select-multiply .choices.is-open .choices__inner:before {
  transform: translateY(-50%) rotate(180deg);
  background: url(../images/icons/icons.svg#chevron-down) no-repeat;
}

.form__group-select-multiply .choices__clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 38px;
  cursor: pointer;
}

.form__group-select-multiply .choices__clear svg {
  transition: all 0.3s;
}

.form__group-select-multiply .choices__list--multiple {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -8px;
}

.form__group-select-multiply .choices__list--multiple .choices__item {
  position: relative;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 38px 8px 16px;
  font-size: 12px;
  line-height: 15px;
  color: #201F2B;
  border: none;
  border-radius: 10px;
  background: #DAE2F4 url("../images/icons/icons.svg#cancel-small") no-repeat;
  background-size: 8px;
  background-position: right 16px top 8px;
}

.form__group-select-multiply .choices__list--multiple .choices__button {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
}

.form__group-select-multiply .choices__list--dropdown {
  width: calc(100% - 18px);
  left: 9px;
  border-radius: 0;
}

.form__group-select-multiply .choices__list--dropdown .choices__list {
  padding: 0;
}

.form__group-select-multiply .choice-with-image {
  display: flex;
  align-items: center;
  padding: 10.5px 16px;
  cursor: pointer;
  color: #727693;
}

.form__group-select-multiply .choice-with-image.is-highlighted {
  background-color: #E1D3FE;
  box-shadow: inset 3px 0 0 #8950FC;
}

.form__group svg {
  pointer-events: none;
  color: #727693;
}

.form__group svg.date {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.form__group .btn svg {
  color: #fff;
}

.form__checkbox {
  display: none;
}

.form__checkbox:checked + .form__checkbox-icon {
  background-color: #8950FC;
}

.form__checkbox:checked + .form__checkbox-icon:before {
  left: 17px;
}

.form__checkbox-icon {
  display: block;
  position: relative;
  width: 44px;
  height: 30px;
  border-radius: 20px;
  background-color: #E1D3FE;
  cursor: pointer;
}

.form__checkbox-icon:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}

.form__icon-input {
  display: flex;
  width: 574px;
  position: relative;
}

.form__icon-input .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  margin-right: 1rem;
  border-radius: 10px;
  background-color: #EFF2F8;
}

.form__icon-input .icon picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form__icon-input .icon:empty {
  background-color: transparent;
}

.form__icon-input .form__input {
  width: calc(100% - 66px);
}

.form__icon-input .show-pass {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 23px;
}

.choices {
  width: 574px;
  max-width: 100%;
}

input[type=password]::-moz-placeholder {
  font-style: italic;
  font-weight: 400;
}

input[type=password]::placeholder {
  font-style: italic;
  font-weight: 400;
}

.editor {
  width: 100%;
  height: 148px;
  line-height: 24px;
}

.editor__wrap {
  width: 100%;
  padding: 1rem;
  background-color: #EFF2F8;
  border-radius: 10px;
}

.editor__bg {
  width: 100%;
  padding: 8px 0;
  background: #00204B;
  border-radius: 10px;
}

.editor__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding-left: 8px;
}

.editor__error {
  position: relative;
  margin-right: 1rem;
  padding-left: 40px;
  font-weight: 400;
  line-height: 22px;
}

.no-webp .editor__error:before{
  background: url("../images/exclamation.png") no-repeat left center; }

.editor__error:before {
  background-size: contain !important;
}

.editor__error:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.percent {
  position: absolute;
  bottom: 0;
  left: 8px;
  color: #8950FC;
}

.form__wrap-dates {
  display: flex;
  align-items: center;
  width: 574px;
  background-color: #EFF2F8;
  border-radius: 10px;
}

.form__wrap-dates .p-relative {
  width: calc(50% - 12px);
}

.form__wrap-dates .p-relative:first-child {
  border-radius: 10px 0 0 10px;
}

.form__wrap-dates .p-relative:last-child {
  border-radius: 0 10px 10px 0;
}

.form__wrap-dates .p-relative:last-child .form__input {
  padding-right: 45px;
  padding-left: 8px;
}

.form__wrap-dates .form__input {
  width: 100%;
}

.form__input {
  width: 574px;
  max-width: 100%;
  height: 45px;
  padding: 13px 16px;
  font-weight: 500;
  color: #201F2B;
  background-color: #EFF2F8;
  border-radius: 10px;
}

.form__input::-moz-placeholder {
  color: #727693;
}

.form__input::placeholder {
  color: #727693;
}

.form__input-small-width {
  width: 287px;
}

.form__input.active::-moz-placeholder {
  color: #201F2B;
}

.form__input.active::placeholder {
  color: #201F2B;
}

.form__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 37px;
  padding-right: 1rem;
}

.form__buttons .btn:not(:last-child) {
  margin-right: 1rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  overflow: auto;
  width: 280px;
  padding: 20px 24px;
  background-color: #fff;
}

.sidebar .logo {
  display: inline-flex;
  align-items: center;
  margin-left: 12px;
  padding: 12px 0;
}

.sidebar .logo span {
  margin-left: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.sidebar-list {
  margin-top: 10px;
}

.sidebar-list__title {
  margin-left: 25px;
}

.sidebar-list__title:not(:last-child) {
  margin-top: 40px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 17px 34px 17px 20px;
  color: #727693;
  border-radius: 10px;
}

.sidebar-link.active {
  color: #8950FC;
  background-color: #E1D3FE;
}

.sidebar-link.active .sidebar-link__counter {
  color: #8950FC;
  background-color: #fff;
}

.sidebar-link__title {
  margin: 0 16px;
  flex-grow: 1;
}

.sidebar-link__counter {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 17px;
  color: #8950FC;
  background-color: #E1D3FE;
  border-radius: 50%;
  transition: all 0.3s;
}

.sidebar__logout {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: auto;
  padding: 17px 20px;
  font-weight: 600;
  color: #727693;
}

.sidebar__logout-wrap {
  flex-grow: 1;
}

.sidebar__logout svg {
  margin-right: 1rem;
}

.content {
  width: 100%;
  min-height: 100vh;
  padding: 23px 32px 45px 312px;
  background-color: #EFF2F8;
}

.content__header {
  padding-right: 19px;
  padding-bottom: 23px;
  border-bottom: 2px solid #E1D3FE;
}

.user-greeting {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
}

.user-greeting__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: 1rem;
  border-radius: 50%;
  color: #727693;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
  padding: 0 1rem;
  white-space: nowrap;
  font-size: 24px;
  line-height: 29px;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 8px;
}

.breadcrumbs a {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: #727693;
}

.breadcrumbs a svg {
  margin-left: 0.5rem;
}

.content-view-1 {
  margin-top: 14px;
  padding: 41px 16px 16px 32px;
}

.content-list-blocks {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem -8px -32px;
}

.content-list-blocks .block {
  width: calc(33.33% - 16px);
  margin: 0 8px 32px;
}

.content-list-blocks .calendar {
  padding: 26px 35px;
  font-size: 14px;
  line-height: 17px;
}

.block-goals {
  padding: 1rem;
}

.block-goals__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 26px;
}

.block-goals__value {
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 26px;
  font-weight: 400;
}

.block-goals__value svg {
  margin-right: 0.5rem;
  color: #727693;
}

.block-goals__percent {
  margin-top: 0.5rem;
  padding: 0 16px;
  font-size: 24px;
  line-height: 39px;
  font-weight: 600;
}

.block-goals__circle {
  margin-top: 2px;
}

.block-goals__cost {
  margin-top: 0.5rem;
  padding: 0 1rem;
  line-height: 26px;
  font-weight: 400;
}

.block-goals__date {
  margin-right: -7px;
  padding: 0.5rem;
  font-weight: 400;
  line-height: 26px;
  background-color: #E1D3FE;
  border-radius: 10px;
}

.block-goals__updated {
  margin-top: 1rem;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  color: #727693;
}

.next-release {
  display: flex;
  flex-direction: column;
  padding: 35px 30px 24px;
}

.next-release__data {
  margin-top: 2rem;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

.next-release__days {
  margin-top: 2rem;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  line-height: 26px;
}

.next-release__days svg {
  margin-right: 1rem;
  color: #8950FC;
}

.next-release .btn {
  align-self: flex-end;
  margin-top: 2rem;
  margin-right: -6px;
}

.goals {
  display: flex;
  flex-direction: column;
  margin-top: 24.5px;
  padding: 31.5px 32px 36.5px;
}

.goals .btn {
  margin-top: 2rem;
  margin-right: 3px;
  align-self: flex-end;
}

.user-content {
  padding-left: 8px;
  margin-top: 32px;
  line-height: 26px;
  font-weight: 400;
}

.user-content > *:not(:last-child) {
  margin-bottom: 15px;
}

.settings {
  margin-top: 1.5rem;
  padding: 54px 35px 43px;
}

.settings .form__input {
  height: 50px;
}

.tracked-initiatives {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.tracked-initiatives-content {
  width: 67.518%;
}

.tracked-initiatives-content__top {
  padding: 32px;
}

.tracked-initiatives-content__top .form__group-name .form__label {
  width: 197px;
  padding-right: 11px;
}

.tracked-initiatives-content__top .form__group-name .form__input {
  width: 287px;
}

.tracked-initiatives-content__top .form__group-query {
  flex-wrap: wrap;
}

.tracked-initiatives-content__top .form__group-query .form__label {
  width: 100%;
  margin-bottom: 1rem;
}

.tracked-initiatives-content__top .form__group-query .editor__wrap {
  padding: 36px 16px;
}

.tracked-initiatives-content__top .form__group-query .editor {
  font-size: 14px !important;
}

.tracked-initiatives-content__top .form__group-query .editor {
  height: 114px;
  line-height: 19px;
}

.tracked-initiatives-content__top .chart-demo {
  margin-top: 2rem;
}

.tracked-initiatives-content__list {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem -8px -16px;
}

.tracked-initiatives-content__list .block {
  width: calc(50% - 16px);
  margin: 0 8px 16px;
  padding: 1rem;
}

.tracked-initiatives-content__list .editor {
  font-size: 8px !important;
}

.tracked-initiatives-content__list .editor {
  height: 68px;
  line-height: 11px;
  border-radius: 10px;
}

.tracked-initiatives-content__list .editor__bg {
  font-size: 12px !important;
}

.tracked-initiatives-content__list .editor__bg {
  margin-top: 1rem;
  padding: 2px 0 0;
}

.tracked-initiatives-sidebar {
  width: 32.482%;
  margin-left: 1rem;
}

.tracked-initiatives-sidebar__item {
  padding: 34px 2rem 2rem;
}

.tracked-initiatives-sidebar__item:not(:last-child) {
  border-bottom: 2px solid #E1D3FE;
}

.tracked-initiatives-sidebar__value {
  padding: 1rem;
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 29px;
  border-radius: 10px;
  background-color: #EFF2F8;
}

.tracked-initiatives-sidebar__value-green {
  color: #fff;
  background-color: #238823;
}

.tracked-initiatives-sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tracked-initiatives-sidebar__header .btn {
  margin-right: -1rem;
}

.tracked-initiatives-sidebar .kpi {
  margin-left: -9px;
  margin-right: -9px;
  margin-top: 31px;
  font-size: 14px;
  line-height: 17px;
}

.tracked-initiatives-sidebar .kpi__item:not(:last-child) {
  margin-bottom: 1rem;
}

.tracked-initiatives-sidebar .kpi__title {
  font-weight: 400;
}

.tracked-initiatives-sidebar .kpi__progress-full {
  position: relative;
  height: 23px;
  margin-top: 0.5rem;
  background-color: #EFF2F8;
  border-radius: 10px;
}

.tracked-initiatives-sidebar .kpi__progress-active {
  height: 100%;
  background-color: #238823;
  border-radius: 10px;
}

.tracked-initiatives-sidebar .kpi__progress-value {
  position: absolute;
  top: 3px;
  left: 26px;
  color: #fff;
}

.quarter__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 39px;
}

.quarter__subtitle {
  line-height: 26px;
  font-weight: 400;
  color: #727693;
}

.quarter__list {
  margin-top: 1rem;
}

.quarter__item {
  padding-top: 2rem;
  border-top: 2px solid #E1D3FE;
}

.quarter__item:not(:first-child) {
  margin-top: 42px;
}

.quarter__inner {
  display: flex;
  margin-top: 2rem;
}

.quarter .block-goals {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 32.573%;
  margin-right: 1rem;
}

.quarter .block-goals__header {
  flex-grow: 1;
}

.quarter .table {
  width: calc(67.427% - 1rem);
  margin-top: 0;
}

.quarter__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 58px;
  margin-right: 37px;
}

.quarter__buttons .btn:not(:last-child) {
  margin-right: 11px;
}

body:has(.table__additional-information) .table {
  margin-top: 1.5rem;
}

.table {
  margin-top: 1rem;
}

.table.table-view-2 .progress {
  flex-grow: 0;
  width: 103px;
  max-width: 100%;
}

.table.table-view-2 .table__th,
.table.table-view-2 .table__td {
  width: 25%;
}

.table.table-view-2 .table__th {
  padding: 16px 0 16px 12px;
}

.table.table-view-2 .table__th:first-child {
  padding-left: 16px;
}

.table.table-view-2 .table__th:last-child {
  padding-right: 16px;
}

.table.table-view-2 .table__th svg {
  margin-left: 10px;
}

.table.table-view-2 .table__td-dev-status,
.table.table-view-2 .table__td-progress {
  justify-content: center;
}

.table:has(.table__td-goal) .table__td,
.table:has(.table__td-goal) .table__th {
  flex: initial;
  width: 16.66%;
}

.table:has(.table__td-goal) .table__td-created,
.table:has(.table__td-goal) .table__th-created {
  width: calc(16.66% - 32px);
  padding: 16px 8px;
}

.table:has(.table__td-goal) .table__td-dev-status,
.table:has(.table__td-goal) .table__th-dev-status {
  width: calc(16.66% - 32px);
  padding: 0;
}

.table:has(.table__td-goal) .table__td-progress,
.table:has(.table__td-goal) .table__th-progress {
  flex-grow: 1;
  padding: 16px 10px 16px 16px;
}

.table:has(.table__td-goal) .table__td-progress svg,
.table:has(.table__td-goal) .table__th-progress svg {
  margin-left: 2px;
}

.table:has(.table__td-goal) .table__th-progress {
  justify-content: center;
}

.table__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

.table__scroll {
  overflow: auto;
}

.table__inner {
  min-width: 856px;
}

.table__title {
  font-size: 24px;
  line-height: 39px;
  font-weight: 400;
}

.table__row {
  position: relative;
  display: flex;
}

.table__row:not(:has(.table__link)):hover {
  background-color: #EFF2F8;
}

.table__row:not(.table__row-header) {
  border-top: 1px solid #E1D3FE;
}

.table__row-header {
  background-color: #EFF2F8;
  box-shadow: inset 0 -1px #8950FC, inset 0 1px #8950FC;
}

.table__th,
.table__td {
  flex: 1;
  padding: 16px 17px 15px;
  font-weight: 400;
  line-height: 26px;
}

.table__th {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.table__th svg {
  margin-left: 1rem;
  color: #727693;
}

.table__td {
  display: flex;
  align-items: center;
  color: #727693;
}

.table__td:has(.status) {
  padding-top: 10px;
  padding-bottom: 10px;
}

.table__td:has(span):hover span {
  white-space: pre-wrap;
  overflow: visible;
  text-overflow: initial;
}

.table__td:has(span) span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table__td .icon-done {
  color: #8950FC;
}

.table__td .icon-progress {
  color: #727693;
}

.table__td-assign-to-goal {
  color: transparent;
}

.table__additional-information {
  display: flex;
  margin-top: 1.5rem;
}

.table__additional-information .block {
  min-width: 236px;
  padding: 19px 16px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
}

.table__additional-information .block:not(:last-child) {
  margin-right: 1.5rem;
}

.table__additional-information .icon-block {
  width: 56px;
  height: 56px;
}

.table__additional-information .text-small {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: -0.27px;
}

.table__tabs {
  display: flex;
  align-items: center;
  background-color: #F2F2F3;
  border-radius: 60px;
}

.table__tabs button {
  padding: 4px 19px;
  font-size: 10px;
  line-height: 20px;
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.4px;
  color: #727693;
  border-radius: 60px;
}

.table__tabs button.active {
  background-color: #E1D3FE;
}

.table__tabs button:last-child {
  padding: 4px 11px;
}

.table__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.table__link:hover ~ .table__td {
  background-color: #EFF2F8;
}

.table__link:hover ~ .table__td-assign-to-goal {
  color: #727693;
}

.table .status {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 0;
  font-weight: 400;
  line-height: 26px;
  white-space: nowrap;
  color: #fff;
  border-radius: 10px;
}

.table .status-1 {
  background-color: #D2222D;
}

.table .status-2 {
  background-color: #238823;
}

.table .status-3 {
  background-color: #FFBF00;
}

.table .status-4 {
  background-color: #8950FC;
}

.table .progress {
  flex-grow: 1;
  height: 12px;
  background-color: #E1D3FE;
  border-radius: 10px;
}

.table .progress__active {
  height: 100%;
  background-color: #8950FC;
  border-radius: 10px;
}

.table .progress__value {
  width: 59px;
  flex-shrink: 0;
}

/**
* Подключение стилей отдельных страниц
*/

@media (min-width: 640px) {
  .choices__list--dropdown .choices__item--selectable::after,
  .choices__list[aria-expanded] .choices__item--selectable::after {
    content: attr(data-select-text);
    font-size: 12px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  [dir=rtl] .choices__list--dropdown .choices__item--selectable,
  [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable {
    text-align: right;
    padding-left: 100px;
    padding-right: 10px;
  }

  [dir=rtl] .choices__list--dropdown .choices__item--selectable::after,
  [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable::after {
    right: auto;
    left: 10px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    padding: 0;
  }

  .sidebar__close,
  .sidebar__btn-open {
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    width: 912px;
  }
}

@media (min-width: 1200px) {
  .page {
    min-height: 503px;
  }

  .container {
    width: 1170px;
  }

  .btn:hover {
    background-color: #562DA8;
  }

  .btn-secondary:hover {
    background-color: #B19BDF;
  }

  * {
    scrollbar-width: 0.5rem;
    scrollbar-color: #E1D3FE;
  }

  *::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  *::-webkit-scrollbar-track {
    border-radius: 0.25rem;
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    border: 0 none #fff;
    background-color: #E1D3FE;
    cursor: pointer;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #8950FC;
  }

  .pagination__item:not(.active):hover {
    color: #8950FC;
  }

  .form__group-select-multiply .choices__clear:hover svg {
    color: #201F2B;
  }

  .sidebar-link:hover {
    color: #8950FC;
  }

  .sidebar__logout:hover {
    color: #201F2B;
  }

  .tracked-initiatives-content__list .ace_scrollbar-h {
    display: none;
  }

  .tracked-initiatives-sidebar__open,
  .tracked-initiatives-sidebar__close {
    display: none;
  }

  .table__tabs button:not(.active):hover,
  .table-pagination__item:hover {
    color: #8950FC;
  }
}

@media (min-width: 1366px) {
  .container {
    width: 1296px;
  }
}

@media (min-width: 1600px) {
  .sidebar {
    width: 19.445%;
  }

  .content {
    padding: 23px 32px 45px calc(19.445% + 32px);
  }

  .content-list-blocks .block {
    min-height: 370px;
  }
}

@media (min-width: 1900px) {
  .content-list-blocks .block {
    min-height: 440px;
  }
}

@media (max-width: 1365px) {
  .content-list-blocks .block {
    min-height: 300px;
  }

  .block-goals__header {
    padding-right: 0;
  }
}

@media (max-width: 1279px) {
  .content-list-blocks .block {
    min-height: 260px;
  }
}

@media (max-width: 1199px) {
  .editor__wrap {
    padding: 12px;
  }

  .editor__footer {
    padding-left: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .editor__footer .btn {
    margin-top: 8px;
    align-self: flex-end;
  }

  .editor__error {
    margin-right: 0;
    padding-left: 34px;
    line-height: 20px;
  }

  .editor__error:before {
    width: 20px;
    height: 20px;
  }

  .ace_gutter-cell {
    padding-left: 4px;
  }

  .ace_folding-enabled > .ace_gutter-cell {
    padding-right: 6px;
  }

  .content-list-blocks .block {
    width: calc(50% - 16px);
  }

  .block-goals__header {
    padding-right: 26px;
  }

  body:has(.tracked-initiatives-sidebar__open) .breadcrumbs {
    padding-right: 66px;
  }

  .tracked-initiatives {
    position: relative;
  }

  .tracked-initiatives-content {
    width: 100%;
  }

  .tracked-initiatives-sidebar {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    margin-left: 0;
    border-radius: 0;
    transform: translateX(100%);
    transition: all 0.4s;
    overflow: auto;
  }

  .tracked-initiatives-sidebar.active {
    transform: translateX(0);
  }

  .tracked-initiatives-sidebar__open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 100%;
    right: 0;
    border-radius: 10px;
  }

  .tracked-initiatives-sidebar__open svg {
    margin-right: 0;
  }

  .tracked-initiatives-sidebar__close {
    position: absolute;
    right: 24px;
    top: 8px;
  }

  .quarter__inner {
    flex-direction: column;
  }

  .quarter .block-goals {
    max-width: 100%;
    width: 357px;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .quarter .table {
    width: 100%;
  }
}

@media (max-width: 991px) {
  body {
    font-size: 14px;
    line-height: 17px;
  }

  .choices__inner {
    font-size: 14px;
    line-height: 17px;
  }

  .text-small {
    font-size: 12px;
    line-height: 16px;
  }

  .icon-text {
    line-height: 22px;
  }

  .icon-text .text-small {
    line-height: 20px;
  }

  .form__group {
    flex-wrap: wrap;
  }

  .form__group-checkbox .form__label {
    margin-right: 30px;
  }

  .form__label {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .user-greeting,
  .breadcrumbs {
    font-size: 20px;
    line-height: 25px;
  }

  .content-list-blocks .block {
    width: calc(100% - 16px);
  }

  .quarter .table__inner {
    min-width: 608px;
  }

  .table__title {
    font-size: 20px;
    line-height: 25px;
  }
}

@media (max-width: 767px) {
  .btn {
    font-size: 15px;
  }

  .pagination {
    margin-bottom: 10px;
    padding-right: 0;
  }

  .form__group-checkbox {
    margin-top: 0;
  }

  .form__buttons {
    justify-content: space-between;
    margin-top: 24px;
    padding-right: 0;
  }

  .form__buttons .btn {
    width: calc(50% - 8px);
  }

  .form__buttons .btn:not(:last-child) {
    margin-right: 0;
  }

  .sidebar {
    width: 100%;
    top: 0;
    z-index: 10;
    transform: translateX(100%);
    transition: all 0.4s;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .sidebar__close {
    position: absolute;
    right: 24px;
    top: 34px;
  }

  .content {
    padding: 12px 16px 23px;
  }

  .content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
  }

  .content-view-1,
  .settings {
    padding: 24px 16px;
  }

  .breadcrumbs {
    padding: 0;
    font-size: 16px;
    line-height: 22px;
  }

  .breadcrumbs a svg {
    width: 18px;
    height: 18px;
    margin-left: 0.25rem;
  }

  .breadcrumbs li:not(:last-child) {
    margin-right: 4px;
  }

  .sidebar__btn-open {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user-greeting span {
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .user-greeting__icon {
    width: auto;
    height: auto;
    margin-left: 10px;
  }

  .user-greeting__icon svg {
    width: 30px;
    height: 30px;
  }

  .content-list-blocks .block {
    width: calc(50% - 16px);
  }

  .content-list-blocks .calendar {
    padding: 1rem;
  }

  .block-goals__header {
    padding-right: 0;
  }

  .block-goals__value {
    padding: 0;
  }

  .block-goals__percent {
    padding: 0 4px;
  }

  .next-release {
    padding: 1rem;
  }

  .next-release__data {
    font-size: 20px;
    line-height: 30px;
  }

  .next-release .btn {
    margin-right: 0;
  }

  .quarter__title {
    font-size: 20px;
    line-height: 32px;
  }

  .quarter__buttons {
    margin-right: 0;
    margin-top: 2rem;
  }

  .table__top {
    padding: 1rem;
  }

  .table__additional-information .block {
    flex-direction: column;
    align-items: flex-start;
    width: calc(50% - 0.5rem);
    min-width: auto;
    padding: 12px;
  }

  .table__additional-information .block:not(:last-child) {
    margin-right: 1rem;
  }

  .table__additional-information .block .icon-block {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .table__additional-information .block .icon-block-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .table__additional-information .block .icon-block-right .text-small {
    flex-grow: 1;
  }
}

@media (max-width: 600px) {
  .content-list-blocks {
    margin-bottom: -24px;
  }

  .content-list-blocks .block {
    width: calc(100% - 16px);
    min-height: 380px;
    margin-bottom: 24px;
  }
}

@media (max-width: 480px) {
  .form__input-small-width {
    width: 240px;
  }

  .form__group-integrations:has(img) .form__label {
    padding-left: 38px;
  }

  .form__group-select-multiply .choices {
    width: 100%;
    margin-left: 0;
  }

  .form__icon-input .icon {
    position: absolute;
    bottom: 100%;
    width: 30px;
    height: 30px;
    padding: 5px;
    left: 0;
    margin-bottom: 4px;
  }

  .form__icon-input .icon picture {
    width: 100%;
    height: 100%;
  }

  .form__icon-input .form__input {
    width: 100%;
  }

  .goals {
    padding: 1rem;
  }

  .goals .btn {
    margin-right: 0;
  }

  .content-list-blocks .block {
    min-height: 320px;
  }

  .user-content {
    padding-left: 0;
  }

  .tracked-initiatives-content__top {
    padding: 1rem;
  }

  .tracked-initiatives-content__list .block {
    width: calc(100% - 16px);
  }
}

@media (max-width: 374px) {
  .user-greeting {
    font-size: 18px;
    line-height: 23px;
  }

  .table__title {
    font-size: 18px;
    line-height: 23px;
  }
}

@media (max-width: 359px) {
  .form__buttons .btn {
    width: calc(50% - 4px);
  }

  .form__wrap-dates .p-relative {
    width: calc(50% - 9px);
  }

  .form__wrap-dates .p-relative:last-child .form__input {
    padding-right: 16px;
  }

  .form__wrap-dates .arrow-right {
    width: 18px;
    height: 18px;
  }

  .form__wrap-dates svg.date {
    display: none;
  }

  .content-list-blocks .block {
    min-height: 280px;
  }

  .table .table__tabs button {
    padding: 4px 11px;
  }

  .table .table__tabs button:last-child {
    padding: 4px 8px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .form__label {
    width: 200px;
  }

  .sidebar__logout {
    padding: 12px;
  }

  .content {
    padding: 23px 32px 45px 272px;
  }

  .content-view-1 {
    padding-left: 16px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    width: 220px;
    padding: 16px 12px;
  }

  .sidebar-link {
    padding: 8px 12px;
  }

  .sidebar-link__counter {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }

  .content {
    padding: 23px 16px 23px 236px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar {
    width: 240px;
    padding: 16px 18px;
  }

  .sidebar-link {
    padding: 12px 17px;
  }

  .content {
    padding: 23px 16px 45px 258px;
  }
}

@media (min-width: 1200px) and (max-width: 1365px) {
  .table.table-view-2 {
    font-size: 14px;
  }
}

.webp .editor__error:before{ background: url(../images/exclamation.webp) no-repeat left center; }