@charset "UTF-8";

/**
* Подключение шрифтов локально из папки "./src/fonts"
*/

/** Подключение переменных */

/**
* Подключение sass functions
*/

/** Обнуление */

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  scroll-behavior: smooth;
}

html.lock {
  overflow: hidden;
  touch-action: none;
}

body {
  overscroll-behavior: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #000;
  background-color: #fff;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: transparent;
  transition: all 0.3s;
}

input::-ms-clear {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: #000;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: all 0.3s;
}

a:focus,
a:active {
  outline: none;
}

a:visited {
  -webkit-text-decoration: none;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

svg,
img {
  flex-shrink: 0;
  display: block;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

sup {
  color: inherit;
}

/**
* Библиотеки
*/

.choices {
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  font-size: 16px;
}

.choices:focus {
  outline: 0;
}

.choices:last-child {
  margin-bottom: 0;
}

.choices.is-open {
  overflow: visible;
}

.choices.is-disabled .choices__inner,
.choices.is-disabled .choices__input {
  background-color: #eaeaea;
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.choices.is-disabled .choices__item {
  cursor: not-allowed;
}

.choices [hidden] {
  display: none !important;
}

.choices[data-type*=select-one] {
  cursor: pointer;
}

.choices[data-type*=select-one] .choices__input {
  display: block;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  margin: 0;
}

.choices[data-type*=select-one] .choices__button {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
  padding: 0;
  background-size: 8px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
  margin-right: 25px;
  height: 20px;
  width: 20px;
  border-radius: 10em;
  opacity: 0.25;
}

.choices[data-type*=select-one] .choices__button:focus,
.choices[data-type*=select-one] .choices__button:hover {
  opacity: 1;
}

.choices[data-type*=select-one] .choices__button:focus {
  box-shadow: 0 0 0 2px #00bcd4;
}

.choices[data-type*=select-one] .choices__item[data-value=""] .choices__button {
  display: none;
}

.choices[data-type*=select-one]::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  background: url("../images/icons/icons.svg#chevron-down-grey") no-repeat;
}

.choices[data-type*=select-one].is-open::after {
  background: url("../images/icons/icons.svg#chevron-down") no-repeat;
  transform: translateY(-50%) rotate(180deg);
}

.choices[data-type*=select-one][dir=rtl]::after {
  left: 11.5px;
  right: auto;
}

.choices[data-type*=select-one][dir=rtl] .choices__button {
  right: auto;
  left: 0;
  margin-left: 25px;
  margin-right: 0;
}

.choices[data-type*=select-multiple] .choices__inner,
.choices[data-type*=text] .choices__inner {
  cursor: text;
}

.choices[data-type*=select-multiple] .choices__button,
.choices[data-type*=text] .choices__button {
  position: relative;
  display: inline-block;
  margin: 0 -4px 0 8px;
  padding-left: 16px;
  border-left: 1px solid #008fa1;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
  background-size: 8px;
  width: 8px;
  line-height: 1;
  opacity: 0.75;
  border-radius: 0;
}

.choices[data-type*=select-multiple] .choices__button:focus,
.choices[data-type*=select-multiple] .choices__button:hover,
.choices[data-type*=text] .choices__button:focus,
.choices[data-type*=text] .choices__button:hover {
  opacity: 1;
}

.choices__inner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #EFF2F8;
  border-radius: 10px;
  font-size: 16px;
  min-height: 50px;
  overflow: hidden;
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border-color: #b7b7b7;
}

.choices__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.choices__list .choices__list {
  padding-top: 8px;
  padding-bottom: 8px;
}

.choices__list--single {
  display: inline-block;
  padding: 15.5px 40px 15.5px 16px;
  width: 100%;
}

[dir=rtl] .choices__list--single {
  padding-right: 4px;
  padding-left: 16px;
}

.choices__list--single .choices__item {
  width: 100%;
}

.choices__list--multiple {
  display: inline;
}

.choices__list--multiple .choices__item {
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 3.75px;
  margin-bottom: 3.75px;
  background-color: #00bcd4;
  border: 1px solid #00a5bb;
  color: #fff;
  word-break: break-all;
  box-sizing: border-box;
}

.choices__list--multiple .choices__item[data-deletable] {
  padding-right: 5px;
}

[dir=rtl] .choices__list--multiple .choices__item {
  margin-right: 0;
  margin-left: 3.75px;
}

.choices__list--multiple .choices__item.is-highlighted {
  background-color: #00a5bb;
  border: 1px solid #008fa1;
}

.is-disabled .choices__list--multiple .choices__item {
  background-color: #aaa;
  border: 1px solid #919191;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  visibility: hidden;
  z-index: 5;
  position: absolute;
  width: 100%;
  background-color: #fff;
  top: 100%;
  margin-top: -1px;
  border-radius: 10px;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.is-active.choices__list--dropdown,
.is-active.choices__list[aria-expanded] {
  visibility: visible;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  border-color: #b7b7b7;
}

.is-flipped .choices__list--dropdown,
.is-flipped .choices__list[aria-expanded] {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: -1px;
  border-radius: 0.25rem 0.25rem 0 0;
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
  position: relative;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  position: relative;
  padding: 8px 16px;
  line-height: 19px;
}

[dir=rtl] .choices__list--dropdown .choices__item,
[dir=rtl] .choices__list[aria-expanded] .choices__item {
  text-align: right;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  color: #8950FC;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after {
  opacity: 0.5;
}

.choices__item {
  cursor: default;
}

.choices__item--selectable {
  cursor: pointer;
}

.choices__item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  opacity: 0.5;
}

.choices__heading {
  font-weight: 600;
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid #f7f7f7;
  color: gray;
}

.choices__button {
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.choices__button:focus,
.choices__input:focus {
  outline: 0;
}

.choices__input {
  display: inline-block;
  vertical-align: baseline;
  background-color: #f9f9f9;
  font-size: 14px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 0;
  max-width: 100%;
  padding: 4px 0 4px 2px;
}

.choices__input::-webkit-search-cancel-button,
.choices__input::-webkit-search-decoration,
.choices__input::-webkit-search-results-button,
.choices__input::-webkit-search-results-decoration {
  display: none;
}

.choices__input::-ms-clear,
.choices__input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

[dir=rtl] .choices__input {
  padding-right: 2px;
  padding-left: 0;
}

.choices__placeholder {
  color: #727693;
}

.choices.is-open .choices__placeholder {
  color: #201F2B;
}

/**
* Общие параметры, шаблоны(заготовки) и вспомогательные классы
*/

/** Базовые анимации: */

@keyframes show-header {
  0% {
    top: -100%;
  }

  100% {
    top: 0;
  }
}

@keyframes fade-up-big {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(359deg);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.page {
  position: relative;
  flex: 1 1 auto;
}

.container {
  width: 540px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

/* ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ */

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: #8950FC;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  white-space: nowrap;
}

.btn svg {
  margin-right: 0.5rem;
}

.btn-secondary {
  color: #201F2B;
  background-color: #E1D3FE;
}

/**
* Заголовки и прочие классы касательно текста
*/

/* ТИПОГРАФИЯ */

.text-small {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #727693;
}

/**
* Подключение стилей повторяющихся блоков
*/

.block {
  background-color: #fff;
  border-radius: 10px;
}

.p-relative {
  position: relative;
}

.form__label {
  flex-shrink: 0;
  width: 240px;
  padding-right: 24px;
  margin-top: 9px;
}

.form__group {
  display: flex;
  position: relative;
}

.form__group:has(.percent) .p-relative {
  padding-bottom: 27px;
}

.form__group:has(.choices),
.form__group:has(.form__wrap-dates),
.form__group-bottom {
  align-items: center;
}

.form__group:has(.choices) .form__label,
.form__group:has(.form__wrap-dates) .form__label,
.form__group-bottom .form__label {
  margin-top: 0;
}

.form__group:not(:last-child) {
  margin-bottom: 1.5rem;
}

.form__group-query .form__label {
  margin-top: 16px;
}

.form__group-bottom:not(:last-child) {
  margin-bottom: 29px;
}

.form__group-bottom:has(.percent) .form__label {
  margin-bottom: 21px;
}

.choices {
  width: 574px;
  max-width: 100%;
}

.editor {
  width: 100%;
  height: 148px;
}

.editor__wrap {
  width: 100%;
  padding: 1rem;
  background-color: #EFF2F8;
  border-radius: 10px;
}

.editor__bg {
  width: 100%;
  padding: 8px 0;
  background: #00204B;
  border-radius: 10px;
}

.editor__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding-left: 8px;
}

.editor__error {
  position: relative;
  margin-right: 1rem;
  padding-left: 40px;
  font-weight: 400;
  line-height: 22px;
}

.no-webp .editor__error:before{
  background: url("../images/exclamation.png") no-repeat left center; }

.editor__error:before {
  background-size: contain !important;
}

.editor__error:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.percent {
  position: absolute;
  bottom: 0;
  left: 8px;
  color: #8950FC;
}

.form__wrap-dates {
  display: flex;
  align-items: center;
  width: 574px;
  background-color: #EFF2F8;
  border-radius: 10px;
}

.form__wrap-dates .p-relative {
  width: calc(50% - 12px);
}

.form__wrap-dates .p-relative:first-child {
  border-radius: 10px 0 0 10px;
}

.form__wrap-dates .p-relative:last-child {
  border-radius: 0 10px 10px 0;
}

.form__wrap-dates .p-relative:last-child .form__input {
  padding-right: 45px;
  padding-left: 8px;
}

.form__wrap-dates .form__input {
  width: 100%;
}

.form__wrap-dates .form__input.active::-moz-placeholder {
  color: #201F2B;
}

.form__wrap-dates .form__input.active::placeholder {
  color: #201F2B;
}

.form__wrap-dates svg {
  pointer-events: none;
  color: #727693;
}

.form__wrap-dates svg.date {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.form__input {
  width: 574px;
  max-width: 100%;
  height: 45px;
  padding: 13px 16px;
  font-weight: 500;
  color: #201F2B;
  background-color: #EFF2F8;
  border-radius: 10px;
}

.form__input::-moz-placeholder {
  color: #727693;
}

.form__input::placeholder {
  color: #727693;
}

.form__input-big-height {
  height: 50px;
}

.form__input-small-width {
  width: 287px;
}

.form__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 37px;
  padding-right: 1rem;
}

.form__buttons .btn:not(:last-child) {
  margin-right: 1rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  overflow: auto;
  width: 280px;
  padding: 20px 24px;
  background-color: #fff;
}

.sidebar .logo {
  display: inline-flex;
  align-items: center;
  margin-left: 12px;
  padding: 12px 0;
}

.sidebar .logo span {
  margin-left: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.sidebar-list {
  margin-top: 10px;
}

.sidebar-list__title {
  margin-left: 25px;
}

.sidebar-list__title:not(:last-child) {
  margin-top: 40px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 17px 34px 17px 20px;
  color: #727693;
  border-radius: 10px;
}

.sidebar-link.active {
  color: #8950FC;
  background-color: #E1D3FE;
}

.sidebar-link.active .sidebar-link__counter {
  color: #8950FC;
  background-color: #fff;
}

.sidebar-link__title {
  margin: 0 16px;
  flex-grow: 1;
}

.sidebar-link__counter {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 17px;
  color: #8950FC;
  background-color: #E1D3FE;
  border-radius: 50%;
  transition: all 0.3s;
}

.sidebar__logout {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: auto;
  padding: 17px 20px;
  font-weight: 600;
  color: #727693;
}

.sidebar__logout-wrap {
  flex-grow: 1;
}

.sidebar__logout svg {
  margin-right: 1rem;
}

.content {
  width: 100%;
  min-height: 100vh;
  padding: 23px 32px 45px 312px;
  background-color: #EFF2F8;
}

.content__header {
  padding-right: 19px;
  padding-bottom: 23px;
  margin-left: -3px;
  margin-right: -3px;
  border-bottom: 2px solid #E1D3FE;
}

.user-greeting {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
}

.user-greeting__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: 1rem;
  border-radius: 50%;
  color: #727693;
}

.breadcrumbs {
  display: flex;
  margin-top: 14px;
  padding: 0 1rem;
  font-size: 24px;
  line-height: 29px;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 8px;
}

.breadcrumbs a {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: #727693;
}

.breadcrumbs a svg {
  margin-left: 0.5rem;
}

.content-view-1 {
  margin-top: 14px;
  padding: 41px 16px 16px 32px;
}

.content-list-blocks {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem -8px -32px;
}

.content-list-blocks .block {
  width: calc(33.33% - 16px);
  margin: 0 8px 32px;
  min-height: 335px;
}

.content-list-blocks .block-goals {
  padding: 1rem;
}

.content-list-blocks .block-goals__header {
  display: flex;
  justify-content: space-between;
  padding-right: 26px;
}

.content-list-blocks .block-goals__value {
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 26px;
  font-weight: 400;
}

.content-list-blocks .block-goals__value svg {
  margin-right: 0.5rem;
  color: #727693;
}

.content-list-blocks .block-goals__percent {
  padding: 0 16px;
  font-size: 24px;
  line-height: 39px;
  font-weight: 600;
}

.content-list-blocks .block-goals__circle {
  margin-top: 2px;
}

.content-list-blocks .next-release {
  display: flex;
  flex-direction: column;
  padding: 35px 30px 24px;
}

.content-list-blocks .next-release__header {
  display: flex;
  align-items: center;
  line-height: 26px;
}

.content-list-blocks .next-release__header .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  border-radius: 10px;
  color: #8950FC;
  background-color: #E1D3FE;
}

.content-list-blocks .next-release__data {
  margin-top: 2rem;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

.content-list-blocks .next-release__days {
  margin-top: 2rem;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  line-height: 26px;
}

.content-list-blocks .next-release__days svg {
  margin-right: 1rem;
  color: #8950FC;
}

.content-list-blocks .next-release .btn {
  align-self: flex-end;
  margin-top: 2rem;
  margin-right: -6px;
}

.content-list-blocks .calendar {
  padding: 26px 35px;
  font-size: 14px;
  line-height: 17px;
}

/**
* Подключение стилей отдельных страниц
*/

@media (min-width: 640px) {
  .choices__list--dropdown .choices__item--selectable::after,
  .choices__list[aria-expanded] .choices__item--selectable::after {
    content: attr(data-select-text);
    font-size: 12px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  [dir=rtl] .choices__list--dropdown .choices__item--selectable,
  [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable {
    text-align: right;
    padding-left: 100px;
    padding-right: 10px;
  }

  [dir=rtl] .choices__list--dropdown .choices__item--selectable::after,
  [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable::after {
    right: auto;
    left: 10px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    padding: 0;
  }

  .sidebar__close,
  .sidebar__btn-open {
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    width: 912px;
  }
}

@media (min-width: 1200px) {
  .page {
    min-height: 503px;
  }

  .container {
    width: 1170px;
  }

  .btn:hover {
    background-color: #562DA8;
  }

  .btn-secondary:hover {
    background-color: #B19BDF;
  }

  * {
    scrollbar-width: 0.5rem;
    scrollbar-color: red;
  }

  *::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  *::-webkit-scrollbar-track {
    border-radius: 0.25rem;
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    border: 0 none #fff;
    background-color: #E1D3FE;
    cursor: pointer;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #8950FC;
  }

  .sidebar-link:hover {
    color: #8950FC;
  }

  .sidebar__logout:hover {
    color: #201F2B;
  }
}

@media (min-width: 1366px) {
  .container {
    width: 1296px;
  }
}

@media (max-width: 1365px) {
  .content-list-blocks .block {
    min-height: 300px;
  }
}

@media (max-width: 1279px) {
  .content-list-blocks .block {
    min-height: 260px;
  }
}

@media (max-width: 1199px) {
  .editor__wrap {
    padding: 12px;
  }

  .editor__footer {
    padding-left: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .editor__footer .btn {
    margin-top: 8px;
    align-self: flex-end;
  }

  .editor__error {
    margin-right: 0;
    padding-left: 34px;
    line-height: 20px;
  }

  .editor__error:before {
    width: 20px;
    height: 20px;
  }

  .form__input-small-width {
    width: 240px;
  }

  .form__buttons {
    margin-top: 24px;
    padding-right: 0;
  }

  .form__buttons .btn {
    width: calc(50% - 8px);
  }

  .ace_gutter-cell {
    padding-left: 4px;
  }

  .ace_folding-enabled > .ace_gutter-cell {
    padding-right: 6px;
  }

  .content-list-blocks .block {
    width: calc(50% - 16px);
  }
}

@media (max-width: 991px) {
  body {
    font-size: 14px;
    line-height: 17px;
  }

  .choices__inner {
    font-size: 14px;
    line-height: 17px;
  }

  .form__group {
    flex-wrap: wrap;
  }

  .form__label {
    margin-bottom: 10px;
    margin-top: 0;
  }

  .user-greeting,
  .breadcrumbs {
    font-size: 20px;
    line-height: 25px;
  }

  .content-list-blocks .block {
    width: calc(100% - 16px);
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    top: 0;
    z-index: 10;
    transform: translateX(100%);
    transition: all 0.4s;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .sidebar__close {
    position: absolute;
    right: 24px;
    top: 34px;
  }

  .sidebar__close svg {
    width: 44px;
    height: 44px;
  }

  .content {
    padding: 12px 16px 23px;
  }

  .content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    padding-right: 0;
  }

  .content-view-1 {
    padding: 24px 16px;
  }

  .sidebar__btn-open {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user-greeting span {
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .user-greeting__icon {
    width: auto;
    height: auto;
    margin-left: 10px;
  }

  .user-greeting__icon svg {
    width: 30px;
    height: 30px;
  }

  .content-list-blocks .block {
    width: calc(50% - 16px);
  }

  .content-list-blocks .block-goals__header {
    padding-right: 0;
  }

  .content-list-blocks .block-goals__value {
    padding: 0;
  }

  .content-list-blocks .block-goals__percent {
    padding: 0 4px;
  }

  .content-list-blocks .next-release {
    padding: 1rem;
  }

  .content-list-blocks .next-release .btn {
    margin-right: 0;
  }

  .content-list-blocks .calendar {
    padding: 1rem;
  }
}

@media (max-width: 600px) {
  .content-list-blocks {
    margin-bottom: -24px;
  }

  .content-list-blocks .block {
    width: calc(100% - 16px);
    margin-bottom: 24px;
  }
}

@media (max-width: 374px) {
  .user-greeting {
    font-size: 18px;
    line-height: 23px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .form__label {
    width: 200px;
  }

  .sidebar__logout {
    padding: 12px;
  }

  .content {
    padding: 23px 32px 45px 272px;
  }

  .content-view-1 {
    padding-left: 16px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    width: 220px;
    padding: 16px 12px;
  }

  .sidebar-link {
    padding: 8px 12px;
  }

  .sidebar-link__counter {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }

  .content {
    padding: 23px 16px 23px 236px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar {
    width: 240px;
    padding: 16px 18px;
  }

  .sidebar-link {
    padding: 12px 17px;
  }

  .content {
    padding: 23px 16px 45px 258px;
  }
}

.webp .editor__error:before{ background: url(../images/exclamation.webp) no-repeat left center; }